.cont{
  width: 100%;
  box-sizing: border-box;
  padding-left: 280px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 40px;
}
.wrap > div{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.w{
  width: 60%;
}

.error {
    padding-top: 15px;
    text-align: center;
    color: #f44336;
    font-size: 12px;
}

.a {
    color: #1078a5;
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.td {
    width: 12.5%;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;

    &:last-child {
        text-align: right;
    }
}

.tdD {
    width: 12.5%;
    font-weight: bold;
    font-size: 1px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;

   
    &:last-child {
        text-align: right;
    }
}


.th{
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #00bcd4;
}

